body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    color: white;
}
.moda-cabecalho th{
    background-color: #bb86fc;
    padding: 10px;
}

.casa-cabecalho th{
    background-color: #00c4b4;
    padding: 10px;
}
td{
    background-color: #424250;
    padding: 10px;
}